* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}
 
html,
body,
div{
    margin: 0;
    padding: 0;
}

body {
	 background-color: #4d243d;
	 color: white;
	 font-family: Arial, Helvetica, Verdana, sans-serif;
}

.wrap {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1em;
}
 
.tight-wrap {
    max-width: 600px;
    margin: 0 auto;
}

#arcado-container {
	display: flex;
	justify-content: center;
}